<div class="row">
  <div class="container">
<div class="col-sm-12 about_us">
<h2>About us</h2>
<p>We are a company based on the greatest city on earth Korydallos the capital city of the universe.
We are trying to teach people about different stuff but here is one thing.I keep my promises kid
and if you think you can find out about me well you are mistaken.I AM the best in the world in everything
i do ok?If you want to fight me come and get me this is SPARTA.Opa RE PAMe.Misirlou xorepste.Oxi den eimai
trelos ayta tha matheis alliws ante geia pame ston epomeno filo ela takh nikos apo Marousi panathinaikos.Ti ginete edw re.</p>
</div>
</div>
</div>
<%= render 'layouts/admin/botmenu' %>
</div>