<div class="row">
  <div class="container">
    <div class="col-sm-12 about_us">
      <h2>About us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet interdum enim, eget pellentesque diam scelerisque a. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin lobortis diam vitae lacus semper, in faucibus libero porttitor. Cras a orci ac odio scelerisque cursus. Donec fringilla metus tellus, ac rhoncus felis gravida eu. Integer eu facilisis erat. Praesent in est in urna euismod ornare et vitae lectus. Aliquam et diam diam.</p>
    </div>
    </div>
</div>
<%= render 'layouts/admin/botmenu' %>
</div>