<div class="row">
	<div class="container">
  <h2 class="about_us_title">About us</h2>
    <div class="col-sm-12 about_us">
      <p>Well my name is George Rentis i was born in 28th of November in 1992 in Amarousion Greece. And this is my thesis for my degree. Hope you like it have fun.</p>
    </div>
    </div>
    </div>

</div>