  <div class="row">
  <form style="  margin-top: 25px;margin-bottom:25px" class="col-sm-6">
    <div class="form-group ">
      <label class="control-label">First Name</label>
      <input type= "text" class="form-control" >
    </div>
    <div class="form-group">
      <label class="control-label">Last Name</label>
      <input type= "text" class="form-control" >
    </div>
    <div class="form-group ">
      <label class="control-label">Subject</label>
      <input type= "text" class="form-control" >
    </div>
    <div class="form-group ">
      <label class="control-label">Email</label>
      <input type= "text" class="form-control" >
    </div>
    <div class="form-group ">
      <label class="control-label">Message</label>
      <textarea type= "text" class="form-control" ></textarea>
    </div>

      <button type="submit" class="btn">Send Message</button>

  </form>
  <div class="col-sm-6 con" style="margin-top:25px">
    <ul>
      <li>
        <address>
          <strong>George</strong><br>
          999 Test, Test 60<br>
          San Test,TE 12345<br>
          Phone:4584845848<br>
          email:hello@hello.com
        </address>
      </li>
    </ul>
  </div>
</div>

<%= render 'layouts/admin/botmenu' %>
