<div class="row">
  <h2> FAQ </h2>
  <div class="col-sm-offset-4 col-sm-4 faq">
    <h5>What is this website</h5>
      This a website that helps you learn a lot of things
    <h5>How do i register</h5>
      Click the register button
    <h5>How can i see the lesson list</h5>
      Click the Lessons option
    <h5>How can i see the categories</h5>
      Click the categories option
    <h5>How can i contact you</h5>
      Click the contact us option
  </div>
</div>
<%= render 'layouts/admin/botmenu' %>
</div>