<div class="row">
  <div class="col-sm-offset-4 col-sm-4 faq">
    <h5>What is this website</h5>
      This a website that helps you learn a lot of things
    <h5>How do i register</h5>
      Click the register button dumbass
    <h5>Why are you calling me dumbass</h5>
      Shut up and register
    <h5>I am leaving this website</h5>
      Well get the out
    <h5>Just stay here please</h5>
      I keep my promises kid
    </div>

  </div>








  <%= render 'layouts/admin/botmenu' %>
</div>