<div class="row">
  <div class="col-sm-offset-4 col-sm-4 faq">
    <h5>What is this website</h5>
      This a website that helps you learn a lot of things
    <h5>How do i register</h5>
      Click the register button
    <h5>Why</h5>
      register
    <h5>wbsite</h5>
      ok
    <h5>site</h5>
      ok
    </div>

  </div>








  <%= render 'layouts/admin/botmenu' %>
</div>