<html>
  <head>
  </head>
  <body>
  

    <div class="banner row text-center">
      <div class="container">
        <h1 class="text-center welcome_message">Welcome</br>
        <% if !current_user %>
          <a href = "<%= new_user_user_path %>"> <button> <span>Register Now </span> </button></a>
        <% end %>
        </h1>
      </div>
    </div>
    <div class="recent row text-center">
      <div class="container">
      <div class="col-sm-6 col-md-3 recent_lessons">
          <img src="https://cdn2.iconfinder.com/data/icons/mixed-1st-volume/512/tabla-256.png" /><br/>
          <h3>Experience learning</h3>
        </div>
      
        <div class="col-sm-6 col-md-3 recent_lessons">
          <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/download2-256.png" /><br/>
          <h3>Easy and Fast downloading</h3>
        </div>
        <div class="col-sm-6 col-md-3 recent_lessons"><img src="https://cdn3.iconfinder.com/data/icons/forall/1062/conversation-256.png" /><br/>
          <h3>Communication between members</h3>
        </div>
        <div class="col-sm-6 col-md-3 recent_lessons"><img src="https://cdn4.iconfinder.com/data/icons/banking-and-finance/500/cash-money-wallet-128.png" /><br/>
          <h3>No fees</h3>
        </div>
      </div>
    </div>
    
 <!--    <div class="something row">
      <div class="container">
      <h1 style='text-align: center; font-family: "Poiret One",cursive;'>They said about us</h1>
        <div class="col-sm-4 par">
          <blockquote>
            <p class="said">"Very helpful website. I intend to use it again and recommend it to all my friends. "
            </p>
            <footer>John Doe<cite title="Source Title"> Harvard Graduate</cite></footer>
          </blockquote>
        </div>
        <div class="col-sm-4 par">
          <blockquote>
            <p class="said">"This website helped me through my exams. Found many useful things about math in here and the community is great"</p>
            <footer>Jane Doe<cite title="Source Title">  Student</cite></footer>
          </blockquote>
        </div>
        <div class="col-sm-4 par">
          <blockquote>
            <p class="said">"In retrospect this e-learning tool is great for everyone who is looking to study on the go"</p>
            <footer>George Rentis <cite title="Source Title">  Rentis Times</cite></footer>
          </blockquote>
        </div>
      </div>
    </div> -->

  </div>
  </body>
</html>