<div class="row">
  <div class="container">
    <h2>Privacy Policy</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elementum purus vel ante viverra malesuada. Vestibulum a nisl sit amet magna dictum feugiat. Cras consequat mattis ex, vitae hendrerit leo. Integer vestibulum lectus vitae dolor elementum, pulvinar vestibulum nibh placerat. Vestibulum mauris sem, feugiat id porttitor in, posuere eget eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mollis quam in scelerisque gravida. Nullam sit amet aliquam felis, ut mollis turpis. Fusce ac viverra velit. Phasellus vulputate vel tellus at dignissim. Suspendisse nec placerat tellus. Aenean ac risus nisl. Sed in blandit purus. Aenean sit amet lorem a sapien congue congue.</p>
  </div>
</div>
<%= render 'layouts/admin/botmenu' %>
</div>