<div class="row">
  <div class="container">
    <h2 class="privacy_policy_title">Privacy Policy</h2>
    <div class="col-sm-12 privacy_policy">
    <p>Privacy policy random wall of text goes there i dont know what to write.</p>
    </div>
  </div>
</div>

</div>