<div class="row">
  <div class="container">
    <h2 class="terms_and_conditions_title">Terms and Condition</h2>
    <div class="col-sm-12 terms_and_conditions">
    <p>Terms and conditions wall of text don't know what to write.</p>
  </div>
  </div>
</div>

</div>