
<div class="row">
  <div class="container">
<h2 style="text-align:center">Terms and Condition</h2>

<p>This website and all of its affiliates belong to ARXHGOS RE SEIS limited.You have to be over  2 months
old to use the site.If you ever download anything without permission i will hunt you and you know i keep my promises kid.If you want to pay pay i dont care but if you try to bribe anyone look the preivous sentence.Also if something is free say thank you you prick it doesnt cost anything.Also if you ever say you are arxhgos you will be banned from the website.If you violate the above you will be banned.
Thank you and enjoy your stay kisses love.</p>
</div>
</div>
<%= render 'layouts/admin/botmenu' %>
</div>