<div class="row">
  <div class="container">
    <h2 class="terms_and_conditions_title">Terms and Condition</h2>
    <div class="col-sm-12 terms_and_conditions">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas luctus, erat ac sagittis molestie, quam diam congue justo, nec iaculis nisl eros non lacus. Nullam consectetur ac tortor ut egestas. Nam eget sem vitae turpis sagittis tincidunt ac vel ante. Curabitur ac neque eu ex consequat egestas id vitae neque. Sed ultricies, nisl et dictum posuere, augue lacus iaculis orci, non lobortis odio sapien sit amet quam. Etiam euismod congue tempus. Nulla facilisi. Integer at ante ut lacus pellentesque pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac tortor non mauris vehicula aliquam.</p>
  </div>
  </div>
</div>
<%= render 'layouts/admin/botmenu' %>
</div>