<nav class = "navbar navbar-inverse navbar-static-top" role = "navigation">
  <div class = "container">
      <div class = "navbar-header">
        <a class="navbar-brand" href="<%= root_path %>" >GEORGE RENTIS<i class="fa fa-road"></i></a>
      </div>
      <div class = "collapse navbar-collapse">
        <ul class = "nav navbar-nav pull-right">
          <p class = "navbar-text navbar-right"><%= link_to "#{current_user.email} - Logout", destroy_user_session_path, :method => :delete ,style: "color: #fff"%></p>
        </ul>
      </div>
  </div>
</nav>
