<h1>Messages List </h1>
  <table class = "table table-bordered"  style="text-align:center">
    <th id="th">Title</th>
    <th id="th">Body</th>
    <th id="th">To</th>
    <th colspan = 2 id="th">Action</th>
      <% @messages.each do |message| %>
        <tr>
          <td><%= message.title %></td>
          <td><%= message.body %></td>
          <td><%= User.where(id: message.receiver_id).first.email %></td>
          <td><%= link_to "Destroy",admin_message_path(message), method: :delete, :class => "btn btn-danger",data: { confirm: "You sure?" } %></td>
        </tr>
      <% end %>
  </table>
