<dib class="profile container">
<% @messages.each do |m| %>
  <% if m.receiver_id == current_user.id %>
    

    	<div class="panel panel-default conv_sender ">
        <div class="panel-heading" id="highlighted">
    <%= m.title %>
    </div>
    <div class="panel-body">
    <%= m.body %>
    </div>

   
    </div>
  <% else%>
    
<div class="panel panel-default conv_receiver ">
<div class="panel-heading" id="highlighted">
    <%= m.title %>
</div>
<div class="panel-body">
    <%= m.body %>
    </div>

    
    </div>
  <% end %>
<% end %>
</div>