<% @messages.each do |m| %>
  <% if m.receiver_id == current_user.id %>
    <p class="well  conv_sender" ><%= m.title %><br/><%= m.body %></p>
  <% else%>
    <p class="well conv_receiver"><%= m.title %><br/><%= m.body %></p>
  <% end %>
<% end %>