<h2> Categories List </h2>
<!-- Create table to display categories -->
<table class = "table table-bordered"  >
  <th id="th">Name</th>
  <th id="th">No of Lessons</th>
  <th colspan = 2 id="th">Action</th>
  <!-- Fetch information about the categories -->
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.lessons.count %></td>
      <td><%= link_to "Edit",  edit_admin_category_path(category), :class => "btn btn-primary" %></td>
      <td><%= link_to "Destroy",admin_category_path(category), method: :delete, :class => "btn btn-danger",data: { confirm: "You sure?" } %></td>
    </tr>
  <% end %>
</table>
