/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#th{
  text-align:center;
}

#center_table{
  text-align:center;
}

.nested_form_box{
	margin-bottom:5px;
}

.alert{
	margin-bottom: 0px;
}

.alert-notice{
	color: #3C763D;
	background-color: #DFF0D8;
}
.heading{
	margin: 0px 0px 10px;
	text-decoration: underline;
	text-align: center;
}

.test_wrapper{
	min-height:100%;
	margin:-240px auto 0
}

.test_footer{
	height:240px;
}

.test_content{
	padding-top: 240px;
}

.alert{
	border-radius:0px;
}

.log_in_button{
	margin-bottom:5px;
}

.new_user_admin{
	margin-bottom:10px;
}