.banner{
  
  background-image: url("https://usatcollege.files.wordpress.com/2014/09/139786707.jpg");
}

.banner h1{
  margin-bottom: 100px;
  margin-top: 100px;
  font-family: 'Indie Flower', cursive;
  
}

.banner button{
border: 0px none;
background: #FFFFA4 none repeat scroll 0% 0%;
margin-bottom: 10px;
margin-top: 22px;
padding: 10px;
border-radius: 10px;
}

.banner button span{
  padding: 41px;
  line-height: 32px;
}

.welcome_message{
background: lavender none repeat scroll 0% 0%;
font-family: "Poiret One",cursive;
padding: 15px;
border-radius: 10px;
}