.info ul li{
  display:inherit;
}

.finfo{

  color:white;
}

.finfo h4{
	margin-bottom: 0 0 15px 0;
}

.finfo li{
  font-size:12px;
  line-height: 22px;
  //border-bottom:1px dotted lavender;
}
.info{
  background:#545994;
}


